.ItemConfirmWrapper
  %header.user_header
    = render "items/header"

  .main-confirm
    .wrapper
      .wrapper__topbox
        購入内容の確認
      .wrapper__middlebox
        .wrapper__middlebox__inner
          .wrapper__middlebox__inner__item
            .wrapper__middlebox__inner__item__img
            .wrapper__middlebox__inner__item__text
              .wrapper__middlebox__inner__item__text__top
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              .wrapper__middlebox__inner__item__text__bottom
                %span.itemPrice¥470　
                %span.itemTax (税込) 送料込み


      .wrapper__bottombox
        .wrapper__bottombox__inner
          .wrapper__bottombox__inner__form
            .wrapper__bottombox__inner__form__price
              .wrapper__bottombox__inner__form__price__box
                .wrapper__bottombox__inner__form__price__box__buyPriceLvel
                  支払い金額
                .wrapper__bottombox__inner__form__price__box__buyPrice
                  ¥470
            .wrapper__bottombox__inner__form__point
              .wrapper__bottombox__inner__form__point__box
                .wrapper__bottombox__inner__form__point__box__icon
                .wrapper__bottombox__inner__form__point__box__text
                  ポイントを使用 (所持ポイント: P0)
            .wrapper__bottombox__inner__form__payMethod
              .wrapper__bottombox__inner__form__payMethod__box
                .wrapper__bottombox__inner__form__payMethod__box__subject
                  支払い方法
                .wrapper__bottombox__inner__form__payMethod__box__select
                  ＋ 登録してください
            .wrapper__bottombox__inner__form__recive
              .wrapper__bottombox__inner__form__recive__box
                .wrapper__bottombox__inner__form__recive__box__subject
                  配送先
                .wrapper__bottombox__inner__form__recive__box__select
                  ＋ 登録してください
            .wrapper__bottombox__inner__form__submit
              .wrapper__bottombox__inner__form__submit__box
                %input#backbutton{type: "submit", value: "購入する"}


  %footer.bottom
    = render "items/footer"

