$center: center;
$zero: 0;
$perfect: 100%;
$ten: 10px;
$twenty: 20px;
$thirty: 30px;
$forty: 40px;
$fifty: 50px;
$sixty: 60px;
$hundred: 100px;
$image-width: 285px;
$image-height: 285px;
$middle-image-width: 155px;
$middle-image-height: 240px;
$btn-size: 180px;
$font-size: 16px;

* {
  box-sizing: border-box;
}

html{
  color: #000;
  background: #FFF;
  color: -internal-root-color;
}
body{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
ul{
  list-style: none;
}
.No2-link{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
span{
  color: #3CCACE;
}
img{
    width: $perfect;
    vertical-align: bottom;
}
.image1{
  width: 150px;
  height: $forty;
}
.image2{
  width: $twenty;
  height: $twenty;
}
.image3{
  width: $image-width;
  height: $image-height;
}
.image4{
  width: $image-width;
  height: $image-height;
}
.image5{
  width: $image-width;
  height: $image-height;
}
.image6{
  width: $image-width;
  height: $image-height;
}
.image7{
  width: $middle-image-width;
  height: $middle-image-height;
}
.image8{
  width: $middle-image-width;
  height: $middle-image-height;
}
.image9{
  width: $middle-image-width;
  height: $middle-image-height;
}
.aBtn{
  width: $btn-size;
}
.gBtn{
  width: 200px;
}

.aaa{
  text-decoration: none;
  color: black;
}

.pickupContainer:last-child{
  padding-bottom: 80px;
}
.top-header{
  padding: $zero $sixty;
  width: $perfect;
  height: $hundred;
  .headerinner{
    max-width: 1040px;
    width: 80%;
    min-height: 82px;
    margin: $zero auto;
    padding: 15px $zero $zero;
    .main-header{
      position: relative;
      display: flex;
      align-items: $center;
      padding-bottom: 5px;
      .icon{
        padding-bottom: $ten;
        margin-right: 30px;
        border-radius: 4px;
        .No1-link{
          width: 140px;
          display: block;
          img{
            width: $perfect;
            vertical-align: bottom;
          }
        }
      }
      .searchBox{
        margin-left: auto;
        width: $perfect;
        height: 35px;
        .form{
          width: 100%;
          height: 50px;
          display: flex;
          margin-bottom: 5px;
          .input{
            width: $perfect;
            height: 30px;
            padding: $zero $zero $zero 5px;
          }
          button{
            width: 30px;
            height: 30px;
            border: $zero;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 2px;
            img{
              width: $perfect;
              vertical-align: bottom;
            }
          }
        }
      }
    }
    .nav{
      font-size: 14px;
      display: flex;
      margin-bottom: 13px;
      .listleft{
        position: relative;
        display: flex;
        height: $perfect;
        padding: $zero;
        &__category{
          text-decoration: none;
          padding: $zero;
          .cat{
            text-decoration: none;
            color: black;
          }
        }
        &__bland{
          .bland{
            text-decoration: none;
            color: black;
            margin-left: 25px;
          }
        }
      }
      .index_sign_in{
        float: right;
        ul{
          font-size: $zero;
          height: $perfect;
          display: flex;
          li{
            cursor: pointer;
            padding: #{$zero} 14px;
            .No2-link{
              color: #333;
              display: block;
              i{
                font-size: 25px;
                width: $thirty;
                color: #ccc;
              }
              .face-profile{
                border-radius: 50%;
                // margin-bottom: 20px;
                width: 35px;
                height: 35px;
              }
              span{
                font-size: $font-size;
                vertical-align: 4px;
                margin-left: 6px;
              }
              .mypage-link{
                vertical-align: 12px;
                margin-left: $font-size;
              }
            }
          }
        }
      }
      .listright{
        margin-left: auto;
        display: flex;
        &__login{
          text-decoration: none;
          padding: $zero;
        }
        &__new{
          padding-left: 30px;
        }
      }
    }
  }
}

.main{
  height: calc( #{$perfect} - 150px);
  .image3{
    height: 560px;
    width: $perfect;
  }
  .main-view{
    width: $perfect;
    height: 560px;
    background-image: image-url("pict/bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top #{$center};
    position: relative;
    padding: $zero $sixty;
    display: flex;
    align-items: $center;
    .content{
      max-width: 1280px;
      width: $perfect;
      margin: $zero auto;
      padding: 35px $zero $zero $zero;
      &__subtitle {
        text-shadow: $zero 5px rgba(0,0,0,0.4);
        font-size: $sixty;
        line-height: 1.2;
        color: #fff;
      }
      &__text{
        text-shadow: $zero $zero 5px rgba(0,0,0,0.4);
        font-size: font-size;
        color: #fff;
        line-height: 1.77778;
        margin: 16px $zero $zero $zero;
      }
      &__btn{
        display: flex;
        margin: 24px $zero $zero $zero;
        height: 55px;
        .aBtn{
          margin-top: 12px;
          .app{
            margin-right: #{$ten};
          }
        }
        .google{
          width: 200px;
        }
      }
    }
  }
  .top-page{
    padding: $sixty #{$twenty};
    .subtitle{
      text-align: $center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      position: relative;
    }
    .bar{
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      margin: 0 auto 20px;
    }
    .lists{
      text-align: $center;
      display: flex;
      max-width: 1020px;
      width: $perfect;
      margin: $zero auto;
      .list{
        width: 30%;
        margin: 16px 5% $zero $zero;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: $center;
        &__pict{
          position: relative;
          margin-bottom: $twenty;
          .number{
            display: inline-block;
            position: absolute;
            top: $zero;
            left: $zero;
            border-radius: 4%;
            font-size: 30px;
            text-align: $center;
            margin: $zero 5px $zero $zero;
            padding: #{$ten} #{$twenty};
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &__text{
          font-weight: bold;
          font-size: 24px;
          line-height: $fifty;
          margin: $zero $zero $zero 2px;
        }
        &__description{
          font-size: $twenty;
          line-height: 1.5;
          margin: 16px $zero $zero;
        }
      }
    }
  }
  .top-center{
    background-image: image-url("pict/bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: $center;
    &__inner{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: $perfect;
      margin: $zero auto;
      .subtitle{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .text{
        font-size: font-size;
        margin: #{$twenty} $zero 30px;
        line-height: 1.5;
      }
      .btn{
        display: flex;
        width: 300px;
        .app{
          width: 160px;
          vertical-align: bottom;
          margin: #{$ten} #{$ten};
        }
        .google{
          width: 180px;
          height: 70px;
          vertical-align: bottom;
        }
      }
    }
  }
  .topkey-sign{
    padding: $sixty 30px;
    background-color: #fff;
    .head{
      font-size: 27px;
      text-align: $center;
      font-weight: bold;
      padding-bottom: 15px;
      position: relative;
    }
    .bar{
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      margin: 0 auto 20px;
    }
    .items{
      width: 1100px;
      margin: 0 auto;
      display: flex;
      .item{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * #{$perfect});
        text-align: center;
        padding: $zero $ten;
        &__img{
          width: 70%;
          margin: $zero auto;
          line-height: 120px;
        }
        &__subtitle{
          margin: 38px $zero $ten;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail{
          margin: $zero $zero $forty;
          font-size: font-size;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .pickup-container{
    padding: 50px 0 50px;
    background-color: #f8f8f8;
    height: $perfect;
    .head{
      text-align: $center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .productBox{
      .productHead{
        text-align: $center;
        .No6-link{
          font-size: $twenty;
          text-decoration: none;
          color: #3CCACE;
          .title{
            font-weight: bold;
          }
        }
      }
      .productLists{
        width: 780px;
        margin:26px auto $zero auto;
        display: flex;
        justify-content: space-around;
        .productList{
          width: 220px;
          display: inline-block;
          float: left;
          .aaa{
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
            .productList--img{
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: $zero;
              z-index: auto;
              img{
                position: absolute;
                top: $zero;
                left: $zero;
                right: $zero;
                bottom: $zero;
                width: $perfect;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .product--body{
              background-color: white;
              color: #333;
              padding: 16px;
              .name{
                overflow: hidden;
                line-height: 1.5;
                font-size: font-size;
                text-align: left;
              }
              .details{
                font-size: font-size;
                ul{
                  display: flex;
                  align-items: $center;
                  justify-content: space-between;
                  icon{
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                }
                p{
                  font-size: #{$ten};
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}

.banner{
  // background-image: image-url("pict/bg-appBanner-pict.jpg");
  // padding: $hundred $forty;
  // position: relative;
  // background-size: cover;
  background-position: $center;
  .inner{
    color: #fff;
    text-align: $center;
    &__title{
      text-shadow: $zero $zero 5px rgba(0,0,0,0.4);
      font-size: 25px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text{
      font-size: 35px;
      text-shadow: $zero $zero 5px rgba(0,0,0,0.4);
    }
    &__icon{
      width: $perfect;
      display: flex;
      justify-content: $center;
      margin: $twenty auto $zero;
      .No2-link{
        margin-right: $ten;
        margin-top: 20px;
        .aBtn{
          margin-top: 50px;
          .app{
            padding: $ten;
          }
        }
        .gBtn{
          .google{
            height: 70px;
            width: 180px;
            margin-top: 50px;
          }
        }
      }
    }
  }
}

.footer{
  padding: 60px $zero;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .contents{
    max-width: 840px;
    margin: $zero auto;
    display: flex;
    .content{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * #{$perfect});
      margin: $zero 2% $zero $zero;
      &__head{
        margin: $zero $zero $twenty;
        font-size: 16px;
        font-weight: bold;
      }
      ul{
        li{
          .No9-link{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
  &__logo{
    max-width: 160px;
    width: $perfect;
    margin: $zero auto;
  }
  p{
    font-size: font-size;
  }
}


.purchaseBtn{
  width: 120px;
  background: #3CCACE;
  text-align: $center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text{
    color: #fff;
    display: block;
    font-size: $twenty;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon{
    width: $sixty;
  }
}
