.steps {
  width: 100%;
  height: 55px;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  background-color: white;
  
  .step-contents {
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    .step-content {
      padding: 0 10px 0 0;
      float: left;
      .step-link{
        text-decoration: none;
        color: #333;
      }
      .fa.fa-angle-right {
        display: inline-block;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
      .last-step{
        font-weight: 700;
      }
    }
  }
}

.main {
  background: #f8f8f8;
}
.show-main {
  padding: 40px;
  margin: 0 auto;
  .content-left-hide {
    margin: 0;
    padding: 0;
  }
  .content-right {
    width: 700px;
    margin: 0 auto;
    .top-content {
      margin: 0;
      padding: 0;
      .itembox {
        background-color: #fff;
        padding: 24px 40px 40px;
        margin: 0;
        &__name {
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
        &__body {
          margin: 16px 0 0;
          .up {
            display: flex;
            position: relative;
            .up-pic {
              display: flex;
              flex-direction: column;
              width: 560px;
              align-items: center;
              margin: 0 auto;
              img {
                // object-fit: cover;
                height: 346px;
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
          .low {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            .low-pic{
              width: 25%;
              margin: 0 10px 0 0;
              .low-pic-image {
                height: 110px;
                width: 150px;
              }
            }
          }
        }
        .itemBox__price {
          margin: 24px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;
          .price {
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
            color: #000;
          }
          .price-detail {
            font-size: 16px;
            text-align: center;
            margin-bottom: 30px;
            
            span {
              color: #000;
            }
          }
          .item-detail {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
            text-align: left;

          }
          .item-table {
            margin-bottom: 20px;
            .teble-list {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              .table-body {
                box-sizing: border-box;
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                border-collapse: collapse;
                tr {
                  th {
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;  
                  }
                  td {
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: left; 
                    .category {
                      text-decoration: none;
                      color: #3CCACE;
                    }
                  }
                }
              }
            }
          }
          .optional-area {
            display: flex;
            justify-content: space-between;
            .option-list {
              margin: 10px 0 0;
              display: flex;
              list-style: none;
              .optional-btn-likebtn{
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
                height: 40px;
                width: 115px;
                .option__like{
                  font-size: 15px;
                  display: flex;
                  a {
                    text-decoration: none;
                    color: #3CCACE;
                    display: flex;
                    font-size: 15px;
                    .fas.fa-star{
                      display: inline-block;
                      font-size: inherit;
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;
                      color: #3CCACE;
                      text-decoration: none;
                      line-height: 25px;
                    }
                    .option__like-off__text{
                      color: #3CCACE;
                      text-decoration: none;
                      margin-left: 5px;
                      line-height: 28px;
                    }
                    .option__like-off__count{
                      color: #3CCACE;
                      text-decoration: none;
                      line-height: 27px;
                      font-size: 17px;
                    }
                    .option__like-on__text{
                      color: #3CCACE;
                      text-decoration: none;
                      margin-left: 5px;
                      line-height: 28px;
                    }
                    .option__like-on__count{
                      color: #3CCACE;
                      text-decoration: none;
                      line-height: 27px;
                      font-size: 17px;
                    }
                  }
                  .fas.fa-star{
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    color: #3CCACE;
                    text-decoration: none;
                    line-height: 25px;
                  }
                  .option__like-else__text{
                    color: #3CCACE;
                    text-decoration: none;
                    margin-left: 5px;
                    line-height: 28px;
                  }
                  .option__like-else__count{
                    color: #3CCACE;
                    text-decoration: none;
                    line-height: 27px;
                    font-size: 17px;
                  }
                }
              }
            }
            .optional {
              margin: 10px 0 0;
              display: flex;
              .optional-btn{
                font-size: 14px;
                .flag {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                  .fa.fa-flag {
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                }
              }
            }
          }
        }
        .edit_and_destroy{
          text-align: center;
          a{
            text-decoration: none;
            color: #000;
          }
          p{
            text-align: center;
            margin: 20px 0px;
          }
          .item_edit{
            width: 100%;
            height: 50px;
            border-radius: 3px;
            line-height: 50px;
            background-color: #3CCACE;
            a{
              color: white;
            }
          }
          .item_destroy{
            width: 100%;
            height: 50px;
            background-color: gainsboro;
            border-radius: 3px;
            line-height: 50px;           
          }
        }
        .item_confirm_path{
          width: 100%;
          height: 50px;
          border-radius: 3px;
          line-height: 50px;
          background-color: #3CCACE;
          text-align: center;
          .confirm_link{
            text-decoration: none;
            color: white;
            font-size: 24px;
          }
        }
      }
      .comment-box {
        padding: 50px 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        overflow: overlay;
        .notice-msg {
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 10px 0;
          text-align: left;
        }
        .comment-contents {
          list-style: none;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          textarea {
            width: 100%;
            min-height: 104px;
            padding: 10px;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
          }
          .comment-btn {
            font-size: 18px;
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            border-radius: 100px;
            display: inline-block;
            cursor: default;
            margin-top: 20px;
            padding: 1px 7px 2px;
            .fa.fa-comment {
              display: inline-block;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
            }
          }
        }
        .comments{
          padding: 24px;
          .comments-main{
            .comments-main li:first-child {
              margin: 1.5em 0 0;
              padding: 10px 0;
              font-size: 20px;
            }
            .comment_all{
              margin: 60px 0 0;
              .comment-user-name{
                float: right;
                margin: 15px;
              }
              .comment-body{
                width: 100%;
                float: left;
                background: #fbf0e6;
                border-radius: 15px;
                padding: 16px;
                .comment-body-text{
                  font-size: 16px;
                  text-align: left;
                }
                .comment-icon{
                  margin: 8px 0 0;
                  float: right;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .move-items {
      width: 100%;
      list-style: none;
      display: block;
      list-style-type: disc;
      display: flex;
      justify-content: space-between;
      
      .before-item {
        list-style: none;
        .before {
          text-decoration: none;
          color: #3CCACE;
          .fa.fa-angle-left {
            color: #3CCACE;
          }
          span {
            color: #3CCACE;
            cursor: pointer;
          }
        } 
      }
      .after-item {
        float: right;
        display: list-item;
        list-style: none;
        .after{
          text-decoration: none;
          color: #3CCACE;
          .fa.fa-angle-right{
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
                    
          }
          span {
            color: #3CCACE;
            cursor: pointer;
          }
        }
      }
    }
    .related-items {
      margin: 0;
      padding: 0;
      color: #3CCACE;
      .more-search {
        text-decoration: none;
        display: block;
        margin: 24px 0 8px;
        color: #3CCACE;
        font-weight: bold;
        font-size: 22px;
        position: relative;
        cursor: pointer;
      }
    }
  }
}


.banner{
  background-image: image-url("pict/bg-appBanner-pict.jpg");
  padding: $hundred $forty;
  position: relative;
  background-size: cover;
  background-position: $center;
  .inner{
    color: #fff;
    text-align: $center;
    &__title{
      text-shadow: $zero $zero 5px rgba(0,0,0,0.4);
      font-size: 25px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text{
      font-size: 35px;
      text-shadow: $zero $zero 5px rgba(0,0,0,0.4);
    }
    &__icon{
      width: $perfect;
      display: flex;
      justify-content: $center;
      margin: $twenty auto $zero;
      a:first-child{
        margin-right: $ten;
        .app{
          width: $btn-size;
          padding: $ten ;
        }
      }
      .google{
        width: $btn-size;
      }
    }
  }
}

// index.scssにも記載あるが、文字化けするので残してます。
.footer{
  padding: 60px $zero;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .contents{
    max-width: 840px;
    margin: $zero auto;
    display: flex;
    .content{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * #{$perfect});
      margin: $zero 2% $zero $zero;
      &__head{
        margin: $zero $zero $twenty;
        font-size: 16px;
        font-weight: bold;
      }
      ul{
        li{
          a{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
  &__logo{
    max-width: 160px;
    width: $perfect;
    margin: $zero auto;
  }
  p{
    font-size: font-size;
  }
}

a{
  .purchaseBtn{
    width: 120px;
    background: #3CCACE;
    text-align: $center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    &__text{
      color: #fff;
      display: block;
      font-size: $twenty;
      text-decoration: none;
      margin-bottom: 5px;
    }
    &__icon{
      width: $sixty;
    }
  }
}